<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
  <nav class="container-grid nav-region">
    <div class="container-grid nav-bar">
      <a class="link-text text-link-1" href="/">About THE FUCKER behind the treehouse!  Well... ITs pretty fuckin nuts... YOu get seduced into a wooden shit shack and then you get stabbed repeatedly... INSIDE YOUR RECTUM WITH A WOOD SHANK! ;_ IF ypou CATCH MY INERTIA DRIFT PER SE?! :D <br>
      </a>
      <div class="navbar">
        <div class="dropdown">
          <button class="dropbtn"><img src="/images/navbar-drop.png" alt="">
          </button>
          <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/profile-page">Profile</a>
            <a href="/about-page">About</a>
            <a href="/payment-page">Premium</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</body>
</html>

